h1 {
  color: purple;
  font-size:x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-style: italic;
  text-align: center;
  font-weight: 125;
}

p {
  font-family: cursive;
}

ul {
  color: olivedrab;
  font-size: 30px;
  line-height: 40px;
}